# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,vuejs

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,vuejs