body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

#app {
  min-height: 100vh;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadaba4;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}


